<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wisdom.modules.user.persistence.UserMapper">

    <resultMap id="user" type="User">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="gender" column="gender"/>
        <result property="email" column="email"/>
        <result property="telephone" column="telephone"/>
        <result property="introduce" column="introduce"/>
        <result property="activeCode" column="activeCode"/>
        <result property="role" column="role"/>
        <result property="state" column="state"/>
        <result property="registTime" column="registTime" jdbcType="TIMESTAMP" javaType="java.sql.Timestamp"/>
    </resultMap>

    <select id="findById" parameterType="int" resultMap="user">
        SELECT id,username,password,gender,email,telephone,introduce,activeCode,role,state,registTime FROM USER WHERE id=#{id}
    </select>
    <select id="selectByUserName" parameterType="String" resultType="com.wisdom.modules.user.domain.User">
        SELECT id,username,password,gender,email,telephone,introduce,activeCode,role,state,registTime FROM USER WHERE username=#{userName}
    </select>
    <select id="selectByUserNameAndPass" parameterType="com.wisdom.modules.user.domain.User" resultType="com.wisdom.modules.user.domain.User">
        SELECT id,username,password,gender,email,telephone,introduce,activeCode,role,state,registTime FROM USER WHERE username=#{username} AND password=#{password}
    </select>

    <insert id="registerUser" parameterType="User">
        INSERT INTO user(username,password,gender,email,telephone,introduce,activeCode,role,state,registTime)
                VALUES (#{username},#{password},#{gender},#{email},#{telephone},#{introduce},#{activeCode},#{role},#{state},now());
    </insert>

    <update id="updateUser" parameterType="User">
        UPDATE user SET password=#{password},gender=#{gender},telephone=#{telephone} WHERE id=#{id}
    </update>
</mapper>